
options => {
  @std_testsuite_options@
}

service_types => {
    www_extraport => {
        plugin = tcp_connect
        port = @extra_port@
        up_thresh = 15
        timeout = 1
    }
}

plugins => {
  simplefo => {
    dyn_xmpl => {
        service_types = www_extraport
        primary = 192.0.2.1
        secondary = 127.0.0.1
    }
  }
  multifo => {
    multi_xmpl => {
      service_types = [www_extraport, www_extraport]
      pri = 192.0.2.1
      sec = 127.0.0.1
    }
  }
}
