# Autotools junk at top level
/autom4te.cache/
/aclocal.m4
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/stamp-h1
# Distribution tarballs and signatures
/gdnsd-*.tar.xz
/gdnsd-*.tar.xz.asc

# Built, installed binaries
/src/gdnsd
/src/gdnsdctl
/src/plugins/gdnsd_extmon_helper
/src/plugins/gdnsd_geoip_test
# old pathnames for above two:
/plugins/gdnsd_extmon_helper
/plugins/gdnsd_geoip_test

# Built and distributed in tarballs, but not kept in git
/src/zscan_rfc1035.c
/libgdnsd/vscf.c

# Testsuite stuff
/t/testout/
/t/libgdmaps/*.t
/t/libgdmaps/etc/
.prove

# Various QA tool outputs
/_vginst
/lcovout/
/bw-output/
/.scannerwork/

# Various tool outputs in all dirs
Makefile
Makefile.in
.dirstamp
.deps
.libs
*.o
*.so
*.lo
*.la
*.a
*.gcov
*.trucov
*.info
*.gcda
*.gcno
*.tmp
*.log
*.trs
*~
clang_output_*

# generated docs
*.[0-9]
*.pod
/wikidocs/

# generated systemd unit file + initscript
init/gdnsd.service
init/gdnsd.init
