# Autotools junk at top level
/autom4te.cache/
/aclocal.m4
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/stamp-h1

# Distribution tarballs
/gdnsd-*.tar.xz

# Built, installed binaries
/gdnsd/gdnsd
/plugins/extmon/gdnsd_extmon_helper
/plugins/meta/libgdmaps/t/gdnsd_geoip_test

# Built, distributed C sources (Ragel outputs)
/gdnsd/zscan_rfc1035.c
/gdnsd/libgdnsd/vscf.c

# Built headers, not distributed
/gdnsd/libgdnsd/cfg-dirs.h

# Copied, renamed, distributed, installed
/gdnsd/libgdnsd/gdnsd/dmn.h

# Testsuite input/output directories
testout/
testroot/

# lcov html output from qa/coverage.sh
/lcovout/

# libgdmaps unit test junk
/plugins/meta/libgdmaps/t/*.bin
/plugins/meta/libgdmaps/t/Geo*.dat
/plugins/meta/libgdmaps/t/regioncodes-*
/plugins/meta/libgdmaps/t/LICENSE.txt

# Various tool outputs in all dirs
Makefile
Makefile.in
.dirstamp
.deps
.libs
*.o
*.so
*.lo
*.la
*.gcov
*.trucov
*.info
*.gcda
*.gcno
*.tmp
*.log
*.trs
*~
clang_output_*

# generated docs
*.[0-9]
/wikidocs/
