options => {
  @std_testsuite_options@
}

service_types => {
    extf_admin => {
        plugin => extfile
        file => extf_admin
        interval = 5
        direct = true
    }
}

plugins => {
  simplefo => {
    r1 => {
      service_types = up
      primary = 127.0.0.1
      secondary = 192.0.2.1
    }
    r2 => {
      service_types = up
      primary = 127.2.2.2
      secondary = 192.0.2.2
    }
    ra => {
      service_types = extf_admin
      primary = 127.3.3.3
      secondary = 192.0.2.3
    }
  }
  metafo => {
    service_types => up
    resources => {
      m1 => {
        datacenters => [ dc1, dc2 ]
        dcmap => {
          dc1 => m1cname
          dc2 => %simplefo!r1
        }
      }
    }
  }
}
