
options => {
  @std_testsuite_options@
}

service_types => {
    ext_down => {
        plugin => extmon
        cmd => [ "/bin/sh", "-c", "exit 1" ],
        timeout = 1
        interval = 2
        up_thresh = 20
        down_thresh = 10
        ok_thresh = 10
    }
    ext_up => {
        plugin => extmon
        cmd => [ "/bin/sh", "-c", "exit 0" ],
        timeout = 1
        interval = 2
        up_thresh = 20
        down_thresh = 10
        ok_thresh = 10
    }
    ext_timeout => {
        plugin => extmon
        cmd => [ "/bin/sh", "-c", "sleep 2" ],
        timeout = 1
        interval = 2
        up_thresh = 20
        down_thresh = 10
        ok_thresh = 10
    }
}

plugins => {
  @extmon_helper_cfg@
  simplefo => {
    res_ext_down => {
      service_types = ext_down
      primary = 127.0.0.1
      secondary = 192.0.2.1
    }
    res_ext_up => {
      service_types = ext_up
      primary = 127.0.0.1
      secondary = 192.0.2.1
    }
    res_ext_timeout => {
      service_types = ext_timeout
      primary = 127.0.0.1
      secondary = 192.0.2.1
    }
    res_ext_down_dupe => {
      service_types = ext_down
      primary = 127.0.0.1
      secondary = 192.0.2.1
    }
  }
}
