[Unit]
Description=gdnsd
Documentation=man:gdnsd
After=local-fs.target
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
NotifyAccess=all
ExecStart=@GDNSD_SBINDIR@/gdnsd -l start
ExecStop=@GDNSD_BINDIR@/gdnsdctl -l stop

#---
# Things below this mark are not strictly required for proper operation,
# they're just considered good baseline defaults for security and/or perf
#---

# The very basics: run as non-root user + allow binding port 53
UMask=0022
User=gdnsd
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE

# Usually an authdns server is critical infrastructure and performance
# sensitive; make it less likely to be oomkilled if something else goes crazy
# and set a better-than-default nice level:
OOMScoreAdjust=-900
Nice=-11

# Allows successful "lock_mem = true" configuration (can be left out otherwise)
LimitMEMLOCK=infinity

# Various settings for stricter security that probably work for most configs
NoNewPrivileges=yes
SecureBits=keep-caps noroot-locked no-setuid-fixup-locked
MountFlags=slave
DevicePolicy=closed
PrivateDevices=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
