
options => {
  listen => @dns_lspec@
  http_listen => @http_lspec@
  dns_port => @dns_port@
  http_port => @http_port@
  plugin_search_path = @pluginpath@
  realtime_stats = true
}

service_types => {
    www_extraport => {
        plugin => null # will always mark everything down
        up_thresh = 15
        timeout = 1
    }
}

plugins => {
  simplefo => {
    service_types = www_extraport
    dyn_xmpl => {
        primary = 192.0.2.1
        secondary = 127.0.0.1
    }
  }
  multifo => {
    service_types = www_extraport
    multi_xmpl => {
      pri = 192.0.2.1
      sec = 127.0.0.1
    }
  }
}
