
options => {
  listen => @dns_lspec@
  http_listen => @http_lspec@
  dns_port => @dns_port@
  http_port => @http_port@
  plugin_search_path = @pluginpath@
  realtime_stats = true
}

plugins => {
 geoip => {
  maps => {
   map1 => {
    geoip_db => "FakeGeoIP.dat"
    datacenters => [ na, eu, ap, sa ]
    map => {
     NA => [ na, sa ]
     SA => [ sa, na ]
     EU => [ eu, na ]
     AF => [ eu, ap ]
     AS => [ ap, eu ]
     OC => [ ap, na ]
     AN => [ ap, sa ]
    }
   }
   map2 => {
   geoip_db => "FakeGeoIP.dat"
   datacenters => [ dc1, dc2, dc3 ]
    map => {
     NA => { US => [ dc2 ] }
    }
   }
  }
  service_types => none
  resources => {
   res1 => {
    map => map1,
    dcmap = {
     na => 192.0.2.1
     sa => { lb01 => 192.0.2.3, lb02 => 192.0.2.4 },
     eu => { lb01 => 192.0.2.6, lb02 => 192.0.2.5 },
     ap => { lb01 => 192.0.2.7, lb02 => 192.0.2.8, lb03 => 192.0.2.9 },
    }
   }
   res2 => {
    map => map2,
    dcmap = {
     dc1 => { addrs_v4 => { 1 => 192.0.2.10 }, addrs_v6 => { 1 => 2001:DB8::10 } }
     dc2 => 2001:DB8::11
     dc3 => 192.0.2.11
    }
   }
   res3 => {
    map => map2,
    dcmap = {
     dc1 => dc1cn
     dc2 => dc2cn
     dc3 => dc3cn
    }
   }
   res4 => {
    map => map2,
    dcmap => {
     dc1 => { lb01 => 2001:DB8::1:123, lb02 => 2001:DB8::1:456, lb03 => 2001:DB8::1:789 }
     dc2 => { lb01 => 2001:DB8::2:123, lb02 => 2001:DB8::2:456, lb03 => 2001:DB8::2:789 }
     dc3 => { lb01 => 2001:DB8::3:123, lb02 => 2001:DB8::3:456, lb03 => 2001:DB8::3:789 }
    }
   }
   res5 => {
    map => map2,
    dcmap => {
     dc1 => dc1cn
     dc2 => dc2cn-loop
     dc3 => dc3cn
    }
   }
   res6 => {
    map => map2,
    plugin => weighted,
    dcmap => {
     dc1 => {
      lb01 => [192.0.2.111, 20],
      lb02 => [192.0.2.112, 25],
      lb03 => [192.0.2.113, 30],
     },
     dc2 => {
      g1 => {
       lb01 => [192.0.2.121, 20],
       lb02 => [192.0.2.122, 25],
       lb03 => [192.0.2.123, 30],
      },
      g2 => {
       lb01 => [192.0.2.221, 10],
       lb02 => [192.0.2.222, 15],
       lb03 => [192.0.2.223, 20],
      },
     },
     dc3 => {
      lb01 => [192.0.2.131, 20],
      lb02 => [192.0.2.132, 25],
      lb03 => [192.0.2.133, 30],
     },
    }
   }
   res7 => {
    map => map2,
    plugin => weighted,
    dcmap => {
      dc1 => { cn1 => [www1.example.net., 16], cn2 => [www2.example.net., 20] },
      dc2 => { cn1 => [www1.example.org., 16], cn2 => [www2.example.org., 20] },
      dc3 => { cn1 => [www3.example.net., 16], cn2 => [www4.example.net., 20] },
    }
   }
   res8 => {
    map => map2,
    dcmap => {
      dc1 => { service_types => down, lb01 => 192.0.2.90, lb02 => 192.0.2.91 }
      dc2 => { service_types => up, lb01 => 192.0.2.92, lb02 => 192.0.2.93 }
      dc3 => { service_types => down, lb01 => 192.0.2.94, lb02 => 192.0.2.95 }
    }
   }
   res9 => {
    map => map2,
    dcmap => {
     dc1 => {
      plugin => metafo,
      datacenters => [ d1, d2 ],
      dcmap => {
       d1 => 192.0.2.142,
       d2 => 192.0.2.143,
      },
     }
     dc2 => { lb01 => 192.0.2.92, lb02 => 192.0.2.93 }
     dc3 => { lb01 => 192.0.2.94, lb02 => 192.0.2.95 }
    }
   }
  }
 }
}
