
options => {
  listen => @dns_lspec@
  http_listen => @http_lspec@
  dns_port => @dns_port@
  http_port => @http_port@
  plugin_search_path = @pluginpath@
  realtime_stats = true
}

service_types => {
    www_extraport => {
        plugin => http_status
        port = @extra_port@
        up_thresh = 15
        timeout = 1
    }
}

plugins => {
  simplefo => {
    service_types = [ www_extraport, www_extraport ]
    dyn_xmpl => {
      primary = 127.0.0.1
      secondary = 192.0.2.1
    }
  }
  multifo => {
    service_types = www_extraport
    multi_xmpl => {
      pri = 127.0.0.1
      sec = 192.0.2.1
    }
  }
}
