
options => {
  listen => @dns_lspec@
  http_listen => @http_lspec@
  dns_port => @dns_port@
  http_port => @http_port@
  plugin_search_path = @pluginpath@
  realtime_stats = true
}

service_types => {
    www_extraport => {
        port = @extra_port@
        ok_codes => [ 999, 888, 200 ]
        up_thresh = 15
        timeout = 1
    }
}

plugins => {
  simplefo => {
    dyn_xmpl => {
      service_types = www_extraport
      primary = 192.0.2.1
      secondary = 127.0.0.1
    }
  }
  multifo => {
    multi_xmpl => {
      service_types = [www_extraport, www_extraport]
      addrs_v4 => {
        pri = 192.0.2.1
        sec = 127.0.0.1
      }
    }
  }
}
