options => {
  @std_testsuite_options@
  dnstap => {
    enable => false
    sink => @test_out_dir@/059capture.tap
    unix_sink => true
    identity => identity
    version => version
    log_queries => true
    log_responses => true
  }
}
