# Known issues:
# Cannot do gdnsd's native "fast restart", as there is
#   no ExecRestart, and ExecReload doesn't expect a true
#   restart and ends up killing off the new process if
#   you try to use it for that.  Doing it manually via
#   "gdnsd restart" outside of systemctl just confuses
#   systemctl and it comes to think the service is dead
#   when it is in fact running.  PIDFile doesn't help
#   either (not that we can correctly specify it anyways,
#   since it doesn't appear to allow variables loaded
#   from EnvironmentFile...).  Bottom line is the
#   cgroup gets lost on manual restart.
[Unit]
Description=gdnsd
After=local-fs.target
After=syslog.target
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/gdnsd start
ExecStop=/usr/sbin/gdnsd stop

[Install]
WantedBy=multi-user.target
