[Unit]
Description=gdnsd
After=local-fs.target
After=syslog.target
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/gdnsd
ExecStart=/usr/sbin/gdnsd -d $GDNSD_ROOT start
ExecStop=/usr/sbin/gdnsd -d $GDNSD_ROOT stop
ExecReload=/usr/sbin/gdnsd -d $GDNSD_ROOT restart
StandardOutput=tty
StandardError=inherit

[Install]
WantedBy=multi-user.target
