options => {
  listen => @dns_lspec@
  http_listen => @http_lspec@
  dns_port => @dns_port@
  http_port => @http_port@
  include_optional_ns = true
  realtime_stats = true
  max_response = 62464
  max_addtl_rrsets = 256
  edns_client_subnet = false
}
