options => {
  listen => {
    127.0.0.1 => {}
    ::1 => {}
    127.0.0.1:@extra_port@ => { tcp_proxy => true }
  }
  dns_port => @dns_port@
  run_dir = @run_dir@
  state_dir = @state_dir@

  edns_client_subnet = false
  max_edns_response = 16384
  max_edns_response_v6 = 16384
}
