options => {
  @std_testsuite_options@
  include_optional_ns = true
  max_response = 64000
  max_edns_response = 64000
  max_addtl_rrsets = 256
  edns_client_subnet = false
  any_mitigation => false
}
